<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle type</title>
</head>
<body>
<h1>Insert into vehicletype:</h1>

<form action="#" method="post" th:action="@{/insert/vehicletype}" th:object="${vehicletype}">
    <label>Vehicle type name:</label>
    <input type="text" th:field="*{vehicletypename}">
    <span th:if="${errors.contains('vehicletypename')}"><span style="color:red"><strong>Invalid vehicle type name</strong></span></span>
    <br>

    <button type="submit">Submit</button>

</form>

</body>
</html>